#selfie {
    height: 240px;
    width: 240px;

}

.myContainer{
    width: 50%;
    height: 50%;
}

.d-block {
    height: 400px !important;
    width: 400px !important;
    margin-left: 140px;


}

.carousel img {
    margin: auto;
}
